@import "init_utu";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif&display=swap);
@import url("font-text/medium-font.css");
@import url("font-text/medium-ori.css");
@import url("font-text/roboto-dr.css");
// search nav cutom start
// navbar atas
.header-container {
  padding: 0px 20px;
}
.search-nav {
  background: blue;
  color: #fff;
  padding: 3px;
  height: 60px;
}

// input search in
.search-in-area {
  position: absolute;
  border-radius: 4px;
  line-height: 35px;
  padding: 0px 10px 0px 28px;
  min-width: 92%;
  margin-top: 6px;
}
.search-area {
  i {
    color: #000;
    position: absolute;
    margin: 17px 0px 0px 10px;
    opacity: 0.6;
  }
}

.search-right {
  margin: 15px;
  li {
    display: inline-block;
    margin: 0px 10px;
    max-width: 100%;
  }

  a {
    color: #fff ;
    text-decoration: underline transparent;
    i {
      font-size: 20px;
    }

    :hover {
      color: #fff !important;
      opacity: 0.7;
    }
  }
}

@media (min-width: 992px){
  .u-lg-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width:992px) {
  .u-md-block {
    display: inline-block !important;
  }
}

// end searchin

// nav bawah
.nav-bawah-right {
  height: 5px;

  li {
    display: inline-block;

    padding: 0px 8px;

    i {
      font-size: 20px;
    }
    a:hover {
      color: #fff;
      opacity: 0.7;
    }
  }
}

.has_dropdown_side {
  position: relative;
  display: block;
}

.dropdown_ct_side {
  display: none;
  position: absolute;
  background: #fff !important;
  width: 220px;
  z-index: 1;
  top:30px;
  color: black;
  right: -5px;
  border-radius: 4px;
  box-shadow: $box-shadow-card;

  ul li a{ display: block; padding:0!important;}
}
.dropdown_ct_side li:hover{
    background: #fafafa;
    a{color:#f50057}
}

.dropdown-ct-title{
  padding:15px 15px;
  border-bottom: 1px solid #c1c2c3;
  font-size: 14px;
}
.dropdown-ct-body{
  min-width:100%; 
  display: block;
  ul li a{ display: block; padding:0!important;}
  li {
    display: block;

    padding:10px 10px;
    margin-left: -30px;
    display: block!important;
  }
  i{width:25px!important;}
  a{color:#000;font-size: 14px;}
  *,
  *::before,
  *::after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }

}


.has_dropdown_side:hover .dropdown_ct_side {
  display: block;
}
// end nav bawah

// end  nav cutom

// product index

.prod-index {
  background: #fff;
  max-width: 100%;
  height: 320px;
  margin-bottom: 20px;
  padding: 0;
  border-radius:2px;
  box-shadow: $box-shadow-card;
  display: block;
  z-index:-1;
}
.prod-stats{
  background:#ff5722;
  color:#fff;
  height: 35px;
  position: relative;
  top:3px;
  padding:3px 0px;
  text-align: center;
  display: none;
   max-width: 100%;
  box-shadow: $box-shadow-2dp;
  font-weight: 600;

}
.prod-index:hover{
  border:1px solid #ff5722;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  .prod-stats{display: block;z-index:2;border:1px solid #ff5722;border-top:0;border-radius: 0 0  2px 2px;}
}

a.prod-price{
  display: block
}

.prod-img {
  background: #fff;
  min-width: 100%;
  height: 180px;
  margin-bottom: 10px;
  img {
    max-width: 100%;
    height: 180px; 
  }
}

.prod-title {
  height: 40px;
  margin-bottom: 10px;
  text-align: justify;
  font-size:12px;
  padding: 0 8px;
  a{
    color:#000;
    text-decoration: underline transparent;
  }
}
.prod-price {
  height: 70px;
  background: #fff;
  padding: 0 8px;
  p{line-height: 0}
}
.dtl-txc-minat{
  margin-top:15px;
  padding:10px 15px;
  background: #fafafa;
}
.dtl-txc{
  margin-top:15px;
  padding:20px 15px;
  background: #fafafa;
  font-size:14px;
  text-align: center;
}
.dtl-txc-img{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  padding: 5px 5px;

    img{
      height: 40px;width:40px;margin-right:10px; 
    }
}
.dtl-txc-kosa{
  -ms-flex: 1 0;
	-webkit-box-flex: 1;
	flex: 1 0;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	padding: 0px 5px 5px 10px !important;
	margin-top: -7px;
  line-height: 18px;
  
  @media(max-width:578px){
    margin-bottom:20px;
  }

}
// end product index

// breadcrumb-custom

.breadcrumbs {
  height: auto;
  padding: 20px 0px 5px 0px;
  background: #fafafa;
  box-shadow: $box-shadow-card;
  opacity: 0.7;
 
}
.breadcrumbs-container {
  padding: 0px 5px;
}
.breadcrumbs-title h1 {
  font-size: 2.2vw;
  line-height: 30px;

  margin-top: 2px !important;
  font-weight: 400;
}

.breadcrumbs-line {
  position: relative;
  color: #666666;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.5px;
  text-decoration: none;
  margin-left:-30px;
}

.breadcrumbs-line ul li {
  display: inline-block;
}

.breadcrumbs-line ul li:after {
  font-family: "Material Icons";
  content: "\e409";
  // content: "/";
  top: 3px;
  position: relative;
  display: inline-block;
  color: #666666;
  line-height: 12px;
  font-size: 12px;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}

.breadcrumbs-line ul li a {
  font-size: 12px;
  color: #666666;
  text-decoration: underline transparent;
  font-weight: 600;
}
.breadcrumbs-line ul li:last-child:after {
  display: none;
}

.breadcrumbs-line ul li.active a {
  color: #666666;
}
.breadcrumbs-line ul {
  width: 100%;
}
// end bredcrumb custom

// single prodct
.product-single {
  margin: 10px 0px;
}
.product-single-container {
  padding: 10px;
}

.single-img {
  min-width: 100%;
  padding: 7px;
  img {
    max-width: 100%;
    height: 330px;
  }
  @media (min-width: 300px) and (max-width: 720px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.product-single-detail{
  padding:20px 40px;
font-size: 16px;
  h1{font-size: 28px;}
  h2{font-size:24px;}
  h3{font-size: 20px;}
  @media (min-width:200px) and (max-width:576px){
    padding:10px 8px;
  }
  @media (min-width:576px) and (max-width:768px){
    padding:20px 15px;
  }
}
.product-single-title {
  border-bottom: 1px solid #c1c2c3;

  h1 {
    font-size: 26px !important;
    font-weight: 600;
  }
}
.product-single-price {
  margin-top: 20px;

  h2 {
    font-family: $robosans;
    font-weight: 600;
    font-size: 30px;
  }
  span {
    font-size: 14px;
    opacity: 0.7;
    font-weight: 600;
  }
}

.single-seller {
  background: #d1d2d3;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 2px;
  li {
    display: block;
    margin-left: -40px;
  }
}

.sticky-beli {
  padding: 12px !important;
  box-shadow: 0 -2px 6px 0 rgba(49, 53, 59, 0.16);

  background: #fff;
  border-radius: 4px;

  width: 100%;
  // position: -webkit-sticky;
  position: fixed;
  bottom: -10px;
  z-index: 1051;

  @media (max-width: 600px) {
    padding:5px!important;
  }
}
.harga-sticky-beli {
  position: relative;
  top: 10px;
  margin: 0px 30px;
  p {
    line-height: 0;
    margin-bottom: 7px;
    color: #d1d2d3;
    font-weight: 700;
  }
  span {
    font-weight: 600;
    font-family: $robosans;
  }

  @media (max-width: 800px) {
    margin-bottom: 15px;
    margin-left: 5px;

    p {
      font-size: 12px;
    }
    span {
      font-size: 14px;
    }
  }
}

.nav-tab-custom {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 50;


  a {
    color: #000;
    opacity: 0.5;
  }
  :hover {
    color: #00695c;
    opacity: 1;
  }
}
.tab-custom {
  color: #000 !important;
  letter-spacing: 1;
  line-height: 1.5;
  padding: 10px;
}

// product-suggest
.product-suggest {
  margin-top: 40px;
  background: #fff;
  padding:0 10px 0 10px;
}
.product-s-title {
  padding: 15px 5px;

  margin-bottom: 10px;

  h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
  }
}
.product-suggest-form {
  max-width: 100%;
  height: 320px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 15px;
 
  
}
.product-suggest-img {
  max-width: 100%;
  height: 180px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  img {
    max-width: 100%;
    height: 180px;
  }
}

.product-suggest-title {
  margin: 10px;
  max-width: 100%;
  height: 50px;
  font-size: 12px;
  a{color:#000;opacity:0.7}
}
.product-suggest-sell {
  margin: 10px;
  max-width: 100%;
  height: 60px;
}
// end product -suggest
// end single product

// product-gird
.product-gird {
  margin-top: 30px;
}
// sidebar form-product-gird
.product-sidebar-form {
  // box-shadow: $box-shadow-card;
  margin-bottom: 20px;
  max-width: 100%;
  background: #fff;
  border-radius: 4px;
}
.product-sf-title {
  border-bottom: 1px solid #c1c2c3;
  padding: 8px 10px 5px 10px;
  margin-bottom:0;
  background: #FAFAFA;
  h2 {
    font-size:14px !important;
    font-weight: 600;
  }
}

.product-sf-body {
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  margin:0!important;
    a{color:#000!important}
    .product-sf-link a{ display:block;}
  }
  .product-sf-link{
    padding:2px 0;
  }
  .product-sf-link:hover{
    background: #fafafa;
    a:hover{color: $primary-co!important;}
  }


  .product-sf-checklist{
    
    display: block;
    input{margin-right:8px; }
    label input{display: inline-block;}
    label{min-width: 100%;padding:3px 0;margin-bottom:-7px;}
    i{color:$warning-co;}
  }
 
// end product sidebar form

// product main gird
.product-main-gird {
  box-shadow: $box-shadow-card;
  max-width: 100%;
  height: 250px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 4px;
}

.product-mg-img {
  background: #fff;
  min-width: 100%;
  height: 120px;
  border-radius: 4px;
 
  img {
    max-width: 100%;
    height: 120px;
   
  }
}

.product-mg-title {
 
  margin: 5px;
  height: 45px;
  font-size:12px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-transform: capitalize;
  line-height: 18px;
  
  a{
    color:#000;
    opacity:0.7; 
  }
  a:hover{ opacity:1; }
}
.product-mg-sell {
  background: #fff;
  margin: 5px;
  height: 65px;
}

.product-mg-price{
  font-size:14px;
  color:#0277bd;
  font-weight: 600;
  
}
.product-mg-rating{
  font-size:12px;
  color:#ff8f00;
  font-weight: 600;

  margin-top:-15px;
}
.product-mg-author{
  font-size: 12px;
  opacity: 0.5;
  margin-top:-10px;
}
.product-mg-stats{
  background:#ff5722;
  color:#fff;
  height: 30px;
  position: relative;
  top:-5px;
  text-align: center;
  display: none;
   max-width: 100%;
  box-shadow: $box-shadow-2dp;
  font-weight: 600;
}

.product-main-gird:hover{
  border:1px solid #ff5722;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  .product-mg-stats{display: block;z-index:2;border:1px solid #ff5722;border-top:0;border-radius: 0 0 2px 2px;}
}

.pagination-mg {
  margin-left: -50px !important;
  li {
    display: inline-block;
  }

  .mg-item {
    width: 25px;
    padding: 3px 6px;
  }

  a {
    text-decoration: underline transparent;
    font-size: 16px !important;
    font-family: $robosans;
    font-weight: 600;
  }
}
// end product main  gird

// end product-gird

// checkout product
.checkout-product {
  margin-top: 50px;
  a {
    text-decoration: underline transparent;
  }
}

.ket-checkout-product {
  padding: 5px 10px;
  line-height: 30px;
  box-shadow: $box-shadow-card;
  height: 40px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
}
.check-main-product {
  background: #fff;
  max-width: 100%;
  height: 160px;
  box-shadow: $box-shadow-card;
  border-radius: 3px;
  margin-bottom: 20px;
}
.title-checkout-product {
  height: 40px;
  border: 1px solid #c1c2c3;
  border-radius: 2px;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: 500;
}
.checkout-img {
  min-width: 100%;
  height: 100px;

  border: 4px;
  margin: 10px;

  img {
    border: 4px;
    box-shadow: $box-shadow;
    max-width: 100%;
    height: 100px;
    @media (min-width: 300px) and (max-width: 520px) {
      height: 100px;
    }
  }
}

.tp-checkout {
  margin-top: 8px;
  font-family: $robosans;
  font-size: 14px;

  @media (max-width: 520px) {
    font-size: 12px;
  }
}

// seperator checkout
.seperator {
  @media (min-width: 991px) {
    position: relative;
    top: 30px;
  }
}

// end sperator
// sticky chectout
.sticky-checkout {
  padding: 13px;
  box-shadow: $box-shadow-card;
  height: auto;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1px;

  span {
    font-family: $robosans;
    font-weight: 500;
    margin-right: 10px;
  }
}

// custom input spinner
.input-group {
  @media (max-width: 520px) {
    max-width: 60%;
  }
}

.input-group-prepend {
  height: 30px;
  margin-right: 1px !important;
  background: #9da09a;

  strong {
    position: relative;
    top: -7px;
  }
}

.input-group-append {
  height: 30px;
  margin-right: 5px !important;
  margin-left: 1px !important;

  background: #5a6268;
  color: #fff !important;
  strong {
    position: relative;
    top: -7px;
  }
}
.btn-outline-secondary {
  border: 2px solid !important;
  border-radius: 2px !important;
  color: #fff !important;
}

.input-spinner {
  height: 30px;
  border: 1px #c1c2c3 solid !important;
}

// end custom input spinner
// end sticky check-out
// end checkout product

// chat session
.chat-sess {
  position: fixed;
  bottom: 40px;
  width: 60px;
  height: 60px;
  box-shadow: $box-shadow-card;
  border-radius: 50%;
  padding: 15px;
  background: #fff;
  right: 10px;
  z-index: 1020;
  cursor: pointer;
  transition: transform 0.16s linear 0s, opacity 0.08s linear 0s;
  i {
    position: relative;
  }
}
// end chat

.button-3d {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #538fbe;
  padding: 8px 20px;
  font-size: 14px;
  border: 1px solid #2d6898;
  background-image: linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(73, 132, 180) 0%,
    rgb(97, 155, 203) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(73, 132, 180)),
    color-stop(1, rgb(97, 155, 203))
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotateX(20deg);
}

.button-3d:hover {
  background-image: linear-gradient(
    bottom,
    rgb(79, 142, 191) 0%,
    rgb(102, 166, 214) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(79, 142, 191) 0%,
    rgb(102, 166, 214) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(79, 142, 191) 0%,
    rgb(102, 166, 214) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(79, 142, 191) 0%,
    rgb(102, 166, 214) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(79, 142, 191) 0%,
    rgb(102, 166, 214) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(79, 142, 191)),
    color-stop(1, rgb(102, 166, 214))
  );
}

.button-3d:active {
  -webkit-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 0px #2b638f, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgb(88, 154, 204) 0%,
    rgb(90, 150, 199) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(88, 154, 204)),
    color-stop(1, rgb(90, 150, 199))
  );
  -webkit-transform: translate(0, 4px) rotateX(20deg);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);
}

// btn 3d bor

.button-3d-bor {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background: gray;
  padding: 8px 20px;
  font-size: 14px;
  border: 1px solid #c1c2c3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 0px gray, 0px 3px 10px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotateX(20deg);
}

.button-3d-bor:hover {
  background-image: linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );

}

.button-3d-bor:active {
  -webkit-box-shadow: 0px 2px 0px gray, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 2px 0px gray, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 0px gray, 0px 1px 6px rgba(0, 0, 0, 0.4),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3),
    inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(
    bottom,
     rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: -o-linear-gradient(
    bottom,
     rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: -moz-linear-gradient(
    bottom,
     rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: -webkit-linear-gradient(
    bottom,
     rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );
  background-image: -ms-linear-gradient(
    bottom,
     rgba(255, 255, 255, 0.3) 0%
    rgba(255, 255, 255, 0.3) 100%
  );

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(121, 123, 124)),
    color-stop(1, rgb(89, 90, 92))
  );
  -webkit-transform: translate(0, 4px) rotateX(20deg);
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);

}
// end btn 3d nor


// modal login
.modal-login{
  top: 30%;
  left: 52%;
  -webkit-transform: translate(-50%, 2%);
          transform: translate(-50%, 2%);
  width: 350px;
}

.main-login-form{
  padding:25px 30px;
  margin:30px 0;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: $box-shadow-8dp;
}
.mlg-title{
  margin-top:-10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  h2{
    font-size: 24px;
    font-family: $robosans;
  }
}
// end modal login

// user-profile
.user-profile{
  margin:50px 0 30px 0; 
}
.user-sidebar-profile{
    height: 60vh;
    overflow-x: hidden;
    overflow-y: auto;
  
    @media (max-width:768px){
      height: 32vh;
    }
}

.user-sb-img{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  padding: 5px 5px;
  border-bottom: 1px solid #dddfe0;
  img{
    height: 60px;
    width:60px;
    border-radius: 50%;
    margin-bottom:5px;
  }
}
.user-sb-nama{
  -ms-flex: 1 0;
  -webkit-box-flex: 1;
          flex: 1 0;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0px 5px 5px 10px !important;
  margin-top:8px;
  font-size: 14px;
  font-weight: 600;
}

.user-sb-prof{
  text-decoration: none;
  margin-left:-30px;
 
  ul{ list-style: none;}
  ul li a{
    list-style-type: none;
    display:block;
    color:#000;   

    i{margin-right:13px;}
  }
  li{
    padding:8px 3px;
  }
  li:hover{
    background: #fafafa;
    a{color:#d81b60}
  }

}

.user-sb-main{
  background:#fafafa;
box-shadow: $box-shadow-1dp;
  max-width: 100%;
  border-radius: 3px;
}
.user-sb-main-title{
  border-bottom: 1px solid #d1d2d3;
  padding:15px 20px;
  h2{
    font-size: 22px;font-weight: 600;line-height: 1;
    @media (min-width:200px)and(max-width:576px){
      font-size: 18px;
    }
  }
}
.user-sb-main-body{
  padding: 10px 20px;
}

.user-sb-detail-profile{
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  padding: 5px 5px;
  text-align: right;
 
}
// end user-profile

// laman pembayaran
.laman-bayar{
  padding:0 0 10px 0;
  background: #fff;
  box-shadow: $box-shadow-2dp;
  border-radius: 4px;
  margin-bottom: 20px;
}
.laman-bayar-title{
  padding:15px 15px;
  h2{font-size: 20px;}
  border-bottom:1px solid #dddfe0;
  background: #FAFAFA;
}
.laman-bayar-body{
  padding: 20px 15px;
  
}
// end laman pembayaran
